P10_Mettez_en_place_le_pipeline_d_orchestration_des_flux_aymeric_bailleul/_projet/_kestra/bottleneck_pipeline.yaml
id: bottleneck_pipeline_local
namespace: company.bottleneck

description: |
  Pipeline BottleNeck - Architecture 100% locale
  
  Architecture simplifiée en 3 scripts :
  1. 01_clean_and_merge.py : Lecture locale + nettoyage + fusion
  2. 02_process_and_export.py : Calcul CA + classification + export local
  3. 03_validate_all.py : Validation globale (10 tests)
  
  Flux local :
  - Source : sources/ (fichiers Excel locaux)
  - Base de donnees : _bdd/bottleneck.db (DuckDB)
  - Exports : _exports/ (Excel + CSV)
  
  Execution : Mensuelle (15 de chaque mois a 9h) ou manuelle

labels:
  project: bottleneck
  environment: production
  team: data-engineering
  version: "3.0"
  architecture: "local"

# Variables pour les chemins locaux
# A configurer dans Kestra UI → Settings → Secrets
variables:
  db_path: "_bdd/bottleneck.db"
  sources_path: "sources"
  exports_path: "_exports"

tasks:
  # ==========================================================================
  # TACHE 1 : NETTOYAGE ET FUSION (Sources locales → DuckDB)
  # ==========================================================================
  - id: task_01_clean_and_merge
    type: io.kestra.plugin.scripts.python.Commands
    description: |
      Phase 1 : Lecture locale + nettoyage + fusion
      - Lit les 3 fichiers sources depuis sources/ (locaux)
      - Nettoie les donnees ERP, LIAISON, WEB
      - Fusionne les 3 sources
      - Stocke merged_data_final dans DuckDB
    
    warningOnStdErr: false
    
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.14-slim
    
    beforeCommands:
      - apt-get update && apt-get install -y curl
      - pip install --upgrade pip
      - pip install duckdb pandas openpyxl
      - mkdir -p _bdd _scripts sources
      - 'curl -L -o _scripts/01_clean_and_merge.py "https://raw.githubusercontent.com/merais/formation/main/P10_Mettez_en_place_le_pipeline_d_orchestration_des_flux_aymeric_bailleul/_projet/_scripts/01_clean_and_merge.py"'
    
    commands:
      - python _scripts/01_clean_and_merge.py
    
    outputFiles:
      - "_bdd/bottleneck.db"
    
    retry:
      type: exponential
      maxAttempt: 3
      interval: PT10S
      maxInterval: PT60S
    
    timeout: PT15M

  # ==========================================================================
  # TACHE 2 : TRAITEMENT ET EXPORT (DuckDB → Exports locaux)
  # ==========================================================================
  - id: task_02_process_and_export
    type: io.kestra.plugin.scripts.python.Commands
    description: |
      Phase 2 : Traitement et export
      - Calcule le CA par produit et global
      - Classifie les vins (premium/ordinaire) via z-score
      - Exporte rapport_ca.xlsx, vins_premium.csv, vins_ordinaires.csv
      - Stocke les exports dans _exports/ (local)
    
    warningOnStdErr: false
    
    inputFiles:
      "_bdd/bottleneck.db": "{{ outputs.task_01_clean_and_merge.outputFiles['_bdd/bottleneck.db'] }}"
    
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.14-slim
    
    beforeCommands:
      - apt-get update && apt-get install -y curl
      - pip install --upgrade pip
      - pip install duckdb pandas openpyxl
      - mkdir -p _exports _scripts
      - 'curl -L -o _scripts/02_process_and_export.py "https://raw.githubusercontent.com/merais/formation/main/P10_Mettez_en_place_le_pipeline_d_orchestration_des_flux_aymeric_bailleul/_projet/_scripts/02_process_and_export.py"'
    
    commands:
      - python _scripts/02_process_and_export.py
    
    outputFiles:
      - "_exports/*.xlsx"
      - "_exports/*.csv"
      - "_bdd/bottleneck.db"
    
    retry:
      type: exponential
      maxAttempt: 3
      interval: PT10S
      maxInterval: PT60S
    
    timeout: PT15M

  # ==========================================================================
  # TACHE 3 : VALIDATION GLOBALE
  # ==========================================================================
  - id: task_03_validate_all
    type: io.kestra.plugin.scripts.python.Commands
    description: |
      Phase 3 : Validation globale
      - 10 tests automatises :
        * BLOC 1 : Nettoyage (4 tests)
        * BLOC 2 : Jointures (2 tests)
        * BLOC 3 : Calculs CA (2 tests)
        * BLOC 4 : Classification (2 tests)
      - Exit code 0 si tout OK, 1 si erreur
    
    warningOnStdErr: false
    allowFailure: false
    
    inputFiles:
      "_bdd/bottleneck.db": "{{ outputs.task_02_process_and_export.outputFiles['_bdd/bottleneck.db'] }}"
    
    taskRunner:
      type: io.kestra.plugin.scripts.runner.docker.Docker
      image: python:3.14-slim
    
    beforeCommands:
      - apt-get update && apt-get install -y curl
      - pip install --upgrade pip
      - pip install duckdb pandas openpyxl
      - mkdir -p _scripts
      - 'curl -L -o _scripts/03_validate_all.py "https://raw.githubusercontent.com/merais/formation/main/P10_Mettez_en_place_le_pipeline_d_orchestration_des_flux_aymeric_bailleul/_projet/_scripts/03_validate_all.py"'
    
    commands:
      - python _scripts/03_validate_all.py
    
    retry:
      type: exponential
      maxAttempt: 2
      interval: PT5S
      maxInterval: PT30S
    
    timeout: PT10M

# ==============================================================================
# TRIGGERS
# ==============================================================================
triggers:
  - id: monthly_execution
    type: io.kestra.plugin.core.trigger.Schedule
    description: "Execution automatique le 15 de chaque mois a 9h (heure Paris)"
    cron: "0 9 15 * *"
    timezone: "Europe/Paris"
    
  - id: manual_trigger
    type: io.kestra.plugin.core.trigger.Flow
    description: "Declenchement manuel pour tests et developpement"

# ==============================================================================
# GESTION DES ERREURS
# ==============================================================================
errors:
  - id: error_notification
    type: io.kestra.plugin.notifications.mail.MailSend
    description: "Notification email en cas d'echec du workflow"
    
    from: "kestra-bottleneck@company.com"
    to:
      - "data-team@company.com"
      - "aymeric.bailleul@company.com"
    
    subject: "[ERREUR] Pipeline BottleNeck Local - Echec de l'execution"
    
    htmlTextContent: |
      <h2>[ERREUR] Echec du Pipeline BottleNeck</h2>
      
      <h3>Informations de l'execution</h3>
      <ul>
        <li><strong>Workflow :</strong> {{ flow.id }}</li>
        <li><strong>Namespace :</strong> {{ flow.namespace }}</li>
        <li><strong>Execution ID :</strong> {{ execution.id }}</li>
        <li><strong>Date de debut :</strong> {{ execution.startDate }}</li>
        <li><strong>Etat :</strong> {{ execution.state.current }}</li>
      </ul>
      
      <h3>Action requise</h3>
      <p>Veuillez consulter les logs dans l'interface Kestra pour diagnostiquer le probleme :</p>
      <p><a href="http://localhost:8080/ui/executions/{{ execution.id }}">Voir l'execution dans Kestra</a></p>
      
      <h3>Taches du workflow</h3>
      <ol>
        <li>task_01_clean_and_merge : Lecture locale + nettoyage + fusion</li>
        <li>task_02_process_and_export : Calcul CA + classification + export local</li>
        <li>task_03_validate_all : Validation globale (10 tests)</li>
      </ol>
      
      <hr>
      <p><small>Pipeline BottleNeck Local v3.0 - Data Engineering Team</small></p>
